/*@font-face {*/
    /*font-family: 'Montserrat-SemiBold';*/
    /*src: url('fonts/Montserrat-SemiBold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-SemiBold.woff') format('woff'), url('fonts/Montserrat-SemiBold.ttf') format('truetype'), url('fonts/Montserrat-SemiBold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Bold';*/
    /*src: url('fonts/Montserrat-Bold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-ExtraBold';*/
    /*src: url('fonts/Montserrat-ExtraBold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-ExtraBold.woff') format('woff'), url('fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('fonts/Montserrat-ExtraBold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Medium';*/
    /*src: url('fonts/Montserrat-Medium.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Medium.woff') format('woff'), url('fonts/Montserrat-Medium.ttf') format('truetype'), url('fonts/Montserrat-Medium.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Regular';*/
    /*src: url('fonts/Montserrat-Regular.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0;

}

*{
    box-sizing: border-box;
    outline: none;
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container{}
.container__content{
    width: 1139px;
    margin: 0 auto;
    border: 1px solid red;
}


.challenge__data{}
.data{}
.data__item{
    display: table;
    width: 100%;
    border: 1px solid red;
    margin-bottom: 3px;
}
.data__cell{
    display: table-cell;
}
.data__description{}
.data__qnt{}
.data__coins{}
