@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./css/fonts/Montserrat-SemiBold.eot');
    src: local('☺'), url('./css/fonts/Montserrat-SemiBold.woff') format('woff'), url('./css/fonts/Montserrat-SemiBold.ttf') format('truetype'), url('./css/fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./css/fonts/Montserrat-Bold.eot');
    src: local('☺'), url('./css/fonts/Montserrat-Bold.woff') format('woff'), url('./css/fonts/Montserrat-Bold.ttf') format('truetype'), url('./css/fonts/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./css/fonts/Montserrat-ExtraBold.eot');
    src: local('☺'), url('./css/fonts/Montserrat-ExtraBold.woff') format('woff'), url('./css/fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('./css/fonts/Montserrat-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./css/fonts/Montserrat-Medium.eot');
    src: local('☺'), url('./css/fonts/Montserrat-Medium.woff') format('woff'), url('./css/fonts/Montserrat-Medium.ttf') format('truetype'), url('./css/fonts/Montserrat-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./css/fonts/Montserrat-Regular.eot');
    src: local('☺'), url('./css/fonts/Montserrat-Regular.woff') format('woff'), url('./css/fonts/Montserrat-Regular.ttf') format('truetype'), url('./css/fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;

}

*{
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: #1d262f;
    height: 100%
}
.container__content{
    width: 528px;
    margin: 0 auto;
    /*background: url("../images/screenshot_1.png");*/
    /*opacity: 0.9;*/
}
.content__header{}
.header{
    text-align: left;
}
.header__title{
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 36px 0 18px 25px;
}

.content__profile{}
.profile{
    background: url(../images/user-bg.png) no-repeat;
    background-size: cover;
    position: relative;

}
.profile__menu{
    position: absolute;
    right: 0;
}
.menu{
    text-align: right;
    margin: 0;
    padding-top: 17px;
}
.menu__item{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
.menu-item:last-child{
    margin-right: 4px;
}
.menu__btn{
    text-transform: capitalize;
    border: 2px solid #3b4550;
    border-radius: 4px;
    background-color: #222b35;
    color: #8694a3;
}
.menu__btn_friends{
    font-family: Montserrat-ExtraBold;
    font-size: 12px;
    padding: 9px 13px 9px 13px;
}
.menu__btn_icon{
    padding: 4px 10px 0px 10px
}
.profile__info{}
.info{
    padding-top: 41px;
}
.info, .level{
    text-align: center;
}
.info__img{
    display: inline-block;
    border: 2px solid #464d54;
    border-radius: 3px;
    width: 114px;
    height: 114px;

}
.info__description{
    text-transform: capitalize;
}
.info__description_top{
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
.info__description_bottom{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #c17810;
    margin-top: 3px;
}
.info__description span{
    text-transform: uppercase;
}

.profile__level{}
.level{
    padding: 10px;
}
.level__number{
    font-size: 12px;
    font-family: 'Montserrat-SemiBold';
    text-transform: capitalize;
    color: #346f45;

}
.level__number:first-child{
    color: #3cc843;
    margin-right: 8px;
}

.level__number, .level__description{
    display: inline-block;
    vertical-align: middle;
}
.level__description{
    width: 341px;
    height: 4px;
    border-radius: 3px;
    background-color: #42bc48;
}
.level__detail{
    font-size: 10px;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    margin-top: 6px;
}
.level__detail span{
    font-size: 12px;
    color: #3cc843;
}
.content__challenge{}
.challenge{
    padding: 3px 0;
}
.challenge__title{
    text-align: left ;
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    color: #4f5d6c;
    text-transform: capitalize;
    padding: 0 7px;
}
.challenge__overview{}
.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0 0 0;
}
.overview__item{}
.item{
    display: flex;
    flex-direction: row;
}
.item__icon{
    background-color: #2a3440;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 16px;
}
.item__icon img{
    vertical-align: middle;
}
.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.item__body{
    background-color: #212b35;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    padding: 8px 0px 8px 6px;
    width: 107px;
}
.item__qnt{
    font-size: 24px;
    font-family: "Montserrat-Bold";
    color: #fff;
}
.item__qnt img{
    margin-right: 4px;
}
.item__description{
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Montserrat-SemiBold';
    color: #585e64;
}
.challenge__name{}
.name{
    display: flex;
    flex-direction: column;
    padding-top: 9px;
}
.name__item{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #212b35;
}
.name__item_header{
    padding: 0;
    background-color: inherit;
    padding-bottom: 8px;
}
.name__cell{
    width: 33.3%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    text-transform: capitalize;
}
.name__cell_header{
    font-size: 10px;
    font-family: 'Montserrat-Bold';
    color: #545a61;
    padding-left: 7px;
}
.name__cell_left{
    text-align: left;
    width: 497px;
}
.name__img{
    margin-right: 3px;
}
.content__stats{}
.stats{
    padding: 13px 0;
}
.stats__title{
    text-align: left;
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    color: #4f5d6c;
    text-transform: capitalize;
    padding: 0 0 0 7px;
}
.stats__list{}
.list{}
.stats__circle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
}
.circle {
    position: relative;
    display: block;
    background-color: transparent;
    color: #222;
    text-align: center;
}
.circle:after {
    display: block;
    padding-bottom: 76px;
    width: 76px;
    height: 0;
    border-radius: 50%;
    background-color: #222b35;
    content: "";
}
.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 76px;
    height: 76px;
}
.circle__wrapper {
    display: table;
    width: 76px;
    height: 76px;
}
.circle__content {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}
.circle__description{
    display: block;
    text-transform: capitalize;
}
.circle__description:first-child{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
}
.circle__description:last-child{
    font-size: 12px;
    font-family: 'Montserrat-Medium';
    color: #585e64;
}

