/*@font-face {*/
    /*font-family: 'Montserrat-SemiBold';*/
    /*src: url('fonts/Montserrat-SemiBold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-SemiBold.woff') format('woff'), url('fonts/Montserrat-SemiBold.ttf') format('truetype'), url('fonts/Montserrat-SemiBold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Bold';*/
    /*src: url('fonts/Montserrat-Bold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-ExtraBold';*/
    /*src: url('fonts/Montserrat-ExtraBold.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-ExtraBold.woff') format('woff'), url('fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('fonts/Montserrat-ExtraBold.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Medium';*/
    /*src: url('fonts/Montserrat-Medium.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Medium.woff') format('woff'), url('fonts/Montserrat-Medium.ttf') format('truetype'), url('fonts/Montserrat-Medium.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Montserrat-Regular';*/
    /*src: url('fonts/Montserrat-Regular.eot');*/
    /*src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0;

}

*{
    box-sizing: border-box;
    outline: none;
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container{}
.container__content{
    width: 1139px;
    margin: 0 auto;
    border: 1px solid red;
}
.content__header{}
.header{
    text-align: left;
}
.header__title{
    text-transform: capitalize;
}

.content__profile{}
.profile{

}
.profile__menu{}
.menu{
    text-align: right;
    padding: 0;
}
.menu__item{
    list-style-type: none;
    display: inline-block;
}
.menu__btn{
    text-transform: capitalize;

}
.profile__info{}
.info, .level{
    text-align: center;
}
.info__img{
    display: inline-block;
    border: 1px solid red;
    width: 150px;
    height: 150px;
}
.info__description{
    text-transform: capitalize;
}
.info__description span{
    text-transform: uppercase;
}

.profile__level{}
.level{
    border: 1px solid green;
}
.level__number, .level__description{
    display: inline-block;
    vertical-align: middle; //todo if will be immage then remove
}
.level__description{
    width: 400px;
    border: 1px solid red;
    height: 6px;
    border-radius: 3px;
}
.content__challenge{}
.challenge{}
.challenge__title{
    text-align: left ;
}
.challenge__overview{
    margin-bottom: 10px; //todo maybe after remove it
}
.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overview__item{
    border: 1px solid grey;
}
.item{
    display: flex;
    flex-direction: row;
}
.challenge__name{}
.name{
    display: flex;
    flex-direction: column;
}
.name__item{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    margin-bottom: 3px;
}
.name__cell{
    border: 1px solid blue;
    width: 33.3%;
    text-align: center;

}
.name__cell_left{
    text-align: left;
}
.content__stats{}
.stats{}
.stats__title{
    text-align: left;
}
.stats__list{

}
.list{

}
.stats__circle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #222;
    text-align: center;
}
.circle:after {
    display: block;
    padding-bottom: 80px;
    width: 80px;
    height: 0;
    border-radius: 50%;
    background-color: #ddd;
    content: "";
}
.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
}
.circle__wrapper {
    display: table;
    width: 80px;
    height: 80px;
}
.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    font-size: 12px;
}
.circle__description{
    display: block;
}

